[Unit]
Description=Picom compositor fork
Documentation=man:picom(1)
PartOf=graphical-session.target

[Service]
Type=Exec
ExecStart=/usr/bin/picom

[Install]
WantedBy=xsession.target
