[user]
	name = mfkd
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        r = rebase
        f = fetch

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[core]
	editor = nvim
	pager = delta
[gpg]
	format = ssh
[include]
	path = ~/.gitconfig.local
