[user]
	name = mfkd
	email = mattkfd@gmail.com
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
