#!/bin/sh
setxkbmap -option caps:ctrl_modifier
command -v unclutter >/dev/null 2>&1 && unclutter &
#command -v mpd >/dev/null 2>&1 && mpd >/dev/null 2>&1 &
command -v st >/dev/null 2>&1 && command -v tmux >/dev/null 2>&1 &&
    st -e tmux &
xrdb -merge ~/.Xresources

to_export=(DISPLAY)

systemctl --user import-environment "${to_export[@]}"

services_to_start=(
    battery-monitor.timer
    clipmenud
)

for service in "${services_to_start[@]}"; do
    systemctl --user start "$service"
done
