#!/bin/sh
command -v unclutter >/dev/null 2>&1 && unclutter &
xrdb -merge ~/.Xresources

to_export=(DISPLAY)

systemctl --user import-environment "${to_export[@]}"

services_to_start=(
    battery-monitor.timer
    clipmenud
    redshift-auto
)

for service in "${services_to_start[@]}"; do
    systemctl --user start "$service"
done
