#!/bin/sh
xrdb -merge ~/.Xresources

to_export=(DISPLAY)

systemctl --user import-environment "${to_export[@]}"

services_to_start=(
    clipmenud
    redshift-auto
    psi-notify
    battery-monitor.timer
)

for service in "${services_to_start[@]}"; do
    systemctl --user start "$service"
done

xrandr --dpi 163
